# NVIM
configs/nvim/plugged/
configs/nvim/autoload
configs/nvim/session*
configs/nvim/sessions/**
configs/nvim/.netrwhist
configs/nvim/.cache/
configs/nvim/plugin/

# git secret
.gitsecret/keys/random_seed
!*.secret

configs/lazygit/*
configs/lazygit/config.yml
